gpflow==1.4.1
GPy==1.9.8
graphviz==0.10.1
grpcio==1.17.1
h5py==2.9.0
matplotlib==3.0.2
numpy==1.17.0
pandas==0.24.2
py==1.7.0
scikit-learn==0.20.1
scipy==1.1.0
seaborn==0.9.0
simple-rl==0.811
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-probability==0.6.0
ghalton==0.6.2
pydelfi==0.1
